<a href="https://colab.research.google.com/github/kerenalli/Python/blob/main/Module2_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2.2.3 Dictionaries in Python**

* Dictionaries in python are the list of items that are unordered, non indexed, mutable but not repeatble.
* The items in a dictionary consists of (key, value) pairs.
* Different operations on dictionary are:
  1. Creating a dictionary
  2. Adding an item on to the dictionary
  3. Accessing the keys, values and items
  4. Updating the dictionary
  5. Copying a dictionary
  6. Deleting an item from the dictionary
  7. Clearing a dictionary
  8. Nesting the dictionaries

In [ ]:
del d1
print(d1)

NameError: name 'd1' is not defined

In [ ]:
d2.clear()
d2

{}

In [ ]:
#Creating a dictionary
d1 = {"f":"sudarshana","m":"shekhar","l":"kerenalli"}
print("The last name is: ", d1["l"])

The last name is:  kerenalli

In [ ]:
print("The keys are: ",d1.keys())
print("The values are: ",d1.values())
print("The items in a d1 are: ",d1.items())

The keys are:  dict_keys(['f', 'm', 'l'])
The values are:  dict_values(['sudarshana', 'shekhar', 'kerenalli'])
The items in a d1 are:  dict_items([('f', 'sudarshana'), ('m', 'shekhar'), ('l', 'kerenalli')])

In [ ]:
d1["Designation"] = "Assistant Professor"

In [ ]:
print(d1)

{'f': 'sudarshana', 'm': 'shekhar', 'l': 'kerenalli', 'Designation': 'Assistant Professor', 'Education': 'BE, M.Tech, PhD'}

In [ ]:
d1["Education"]="BE, M.Tech, PhD"

In [ ]:
d1.update(Designation = "AP")
print(d1)

{'f': 'sudarshana', 'm': 'shekhar', 'l': 'kerenalli', 'Designation': 'AP', 'Education': 'BE, M.Tech, PhD'}

In [ ]:
d1.pop("Education")
d1

{'f': 'sudarshana', 'm': 'shekhar', 'l': 'kerenalli', 'Designation': 'AP'}

In [ ]:
d1.popitem()
d1

{'f': 'sudarshana', 'm': 'shekhar', 'l': 'kerenalli'}

In [ ]:
#Creating a dictionary using constructor
d1 = dict(f = "sudarshana",m="shekhar",l="kerenalli")
for key, value in d1.items():
  print("The key: ", key)
  print(" The value: ", value)

The key:  f
 The value:  sudarshana
The key:  m
 The value:  shekhar
The key:  l
 The value:  kerenalli

In [ ]:
d2 = d1.copy()
d2.update(m = "s")
print(d2)

{'f': 'sudarshana', 'm': 's', 'l': 'kerenalli'}

In [ ]:
d1

{'f': 'sudarshana', 'm': 'shekhar', 'l': 'kerenalli'}

In [ ]:
#Nesting the dictionaries:
nanditha = {"fname":"Nanditha", "lname":"maraka","Roll":"31", "branch":"cse-ds"}
nithya = {"fname":"Nithya", "lname":"Sri","Roll":"32", "branch":"cse-aiml"}
hishitha = {"fname":"hishitha", "lname":"d","Roll":"28", "branch":"cse-cs"}
charan = {"fname":"charan", "lname":"B","Roll":"33", "branch":"cse-aiml"}

In [ ]:
students = {
    "one": nanditha,
    "second":nithya,
    "third":hishitha,
    "four":charan

}

print("The roll number of first person is: ", students["one"]["Roll"])

The roll number of first person is:  31

# Accessing the items from the dictionary

In [ ]:
print("The middle name of the person is {}".format(d1["m"]))

The middle name of the person is shekhar

#Updating the dictionary

In [ ]:
d1.update(m="vishalakshi")
print("Updated dictionary: ",d1)

Updated dictionary:  {'f': 'sudarshana', 'm': 'vishalakshi', 'l': 'kerenalli'}

Adding the new field to the dictionary

In [ ]:
d1.update(sal = "mr. ")
d1

{'f': 'sudarshana', 'm': 'vishalakshi', 'l': 'kerenalli', 'sal': 'mr. '}

In [ ]:
#printing the individual fields
print("The person name is: {3} {0} {1} {2}".format(d1["f"],d1["m"],d1["l"],d1["sal"]))

The person name is: mr.  sudarshana vishalakshi kerenalli

# Using the index to add the new feature

In [ ]:
d1["desg"] = "Assistant Professor"
print(d1)

{'f': 'sudarshana', 'm': 'vishalakshi', 'l': 'kerenalli', 'sal': 'mr. ', 'desg': 'Assistant Professor'}

accessing the individual values

In [ ]:
print("The set of values are: ")
for x in d1.values():
  print(x)

The set of values are:
sudarshana
vishalakshi
kerenalli
mr.
Assistant Professor

In [ ]:
print("The set of keys are: ")
for x in d1.keys():
  print(x)

The set of keys are:
f
m
l
sal
desg

In [ ]:
print("The set of items are: ")
for x in d1.items():
  print(x)

The set of items are:
('f', 'sudarshana')
('m', 'vishalakshi')
('l', 'kerenalli')
('sal', 'mr. ')
('desg', 'Assistant Professor')

In [ ]:
d2 = d1.copy()
print("The copied dictionary is: ", d2)
d2.clear()
print("The contents of d2 after the clear operation: ")
d2

The copied dictionary is:  {}
The contents of d2 after the clear operation:

{}

In [ ]:
#Adding and deleting the field and values
d1 = {"f":"s","m":"sh","l":"k"}
print("The contents of d1 are: ", d1)

The contents of d1 are:  {'f': 's', 'm': 'sh', 'l': 'k'}

# Removing a key from the dictionary

In [ ]:
x = d1.pop("m")
print("The pair deleted from d1 is: ", x)

The pair deleted from d1 is:  sh

In [ ]:
x2 = d1.popitem()
print("The last inserted key is: ", x2)

The last inserted key is:  ('m', 'sh')

In [ ]:
del d1
print(type(d1))

NameError: name 'd1' is not defined

In [ ]:
#Nested dictionaries
sk = {"fname": "Sudarshana","mname":"shekhar","lname": "kerenalli"}
bk = {"fname": "Bhuvan","mname":"Mahadev","lname": "kerenalli"}
jk = {"fname": "Jagan","mname":"Mahadev","lname": "kerenalli"}
hk = {"fname": "Hansika","mname":"sudarshan","lname": "kerenalli"}
family = {"f":sk,"s":bk, "j":jk,"h":hk}
print(family["f"])
print(family["s"])
print(family["j"])
print(family["h"])

{'fname': 'Sudarshana', 'mname': 'shekhar', 'lname': 'kerenalli'}
{'fname': 'Bhuvan', 'mname': 'Mahadev', 'lname': 'kerenalli'}
{'fname': 'Jagan', 'mname': 'Mahadev', 'lname': 'kerenalli'}
{'fname': 'Hansika', 'mname': 'sudarshan', 'lname': 'kerenalli'}

In [ ]:
#Accessing the individual fields form the nested dictionaries
print("The first name of the f recod is: ",family["f"]["fname"])

The first name of the f recod is:  Sudarshana

In [1]:
#Nested dictionaries
sk = {"fname": "Sudarshana","mname":"shekhar","lname": "kerenalli"}
bk = {"fname": "Bhuvan","mname":"Mahadev","lname": "kerenalli"}
jk = {"fname": "Jagan","mname":"Mahadev","lname": "kerenalli"}
hk = {"fname": "Hansika","mname":"sudarshan","lname": "kerenalli"}
family = {"f":sk,"s":bk, "j":jk,"h":hk}
print(family["f"])
print(family["s"])
print(family["j"])
print(family["h"])

{'fname': 'Sudarshana', 'mname': 'shekhar', 'lname': 'kerenalli'}
{'fname': 'Bhuvan', 'mname': 'Mahadev', 'lname': 'kerenalli'}
{'fname': 'Jagan', 'mname': 'Mahadev', 'lname': 'kerenalli'}
{'fname': 'Hansika', 'mname': 'sudarshan', 'lname': 'kerenalli'}

In [9]:
print("The details are:\n FNAME\t\tMNAME\t\tLNAME")
for rec in family.values():
  #for field in rec.values():
  print("\n{}\t\t{}\t\t{}\n".format(rec["fname"],rec["mname"],rec["lname"]))
    #print(field)

The details are:
 FNAME		MNAME		LNAME

Sudarshana		shekhar		kerenalli


Bhuvan		Mahadev		kerenalli


Jagan		Mahadev		kerenalli


Hansika		sudarshan		kerenalli