<a href="https://colab.research.google.com/github/kerenalli/Python/blob/main/Module_3_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Read an entire text file**

In [16]:
if __name__ == "__main__":
  url = input("Enter the file path: ")
  f = open(url,"r")
  print(f"The file \"{url}\" contains: ")
  print(f.read())

Enter the file path: /content/sample_data/README.md
The file "/content/sample_data/README.md" contains:
This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

# **2. Read the first n lines of a file.**

In [12]:
if __name__ == "__main__":
  n = int(input("Enter the number of lines you want to print: "))
  f = open("/content/drive/MyDrive/Colab Notebooks/Dataset/myfile.txt","r")
  print(f"The first {n} lines of the file are: ")
  for x in range(n):
    print(f.readline())

Enter the number of lines you want to print: 6
The first6 lines of the file are:
read an entire text file.

read the first n lines of a file.

append text to a file and display the text.

Read numbers from a file and write even and odd numbers to separate files.

Count characters, words and lines in a text file.

To write a list to a file.

# **3. Append text to a file and display the text.**

In [24]:
if __name__ == "__main__":
  #Open the file to write the new content
  f = open("myfile1.txt","w")
  f.write("Hello world!!")
  f.write("\n")
  f.write("You are welcome to this platform.")
  f.close()

  #Open the file for reading
  f = open("myfile1.txt","r")
  print("\nThe file content is: \n")
  print(f.read())
  f.close()

  #open the file to append the new content
  f = open("myfile1.txt","a")
  txt = input("\nEnter the new content: ")
  f.write(txt)
  f.close()

  #Open the file for reading
  f = open("myfile1.txt","r")
  print("The file content after addition is: \n")
  print(f.read())
  f.close()

The file content is:

Hello world!!
You are welcome to this platform.

Enter the new content: Good morning\nWelcome again
The file content after addition is:

Hello world!!
You are welcome to this platform.Good morning\nWelcome again

# **4. Read numbers from a file and write even and odd numbers to separate files.**

["['1\\n', '2\\n', '3\\n', '4\\n', '5\\n', '6\\n', '7\\n', '8\\n', '9\\n', '10']"]

# **5. Count characters, words and lines in a text file**

# **6. To write a list to a file**

In [55]:
l = []
n = int(input("Enter the number of elemnets in the list: "))
for i in range(n):
  ele = input("Enter the item: ")
  l.append(ele)
print(f"The enterd list of items is {l}")
f = open("myfile3.txt","w")
for item in l:
  f.writelines(item)
  f.write("\n")
f.close()

f = open("myfile3.txt","r")
for line in f.readlines():
  print(line)
f.close()

Enter the number of elemnets in the list: 5
Enter the item: 1
Enter the item: 2
Enter the item: 3
Enter the item: 4
Enter the item: 5
The enterd list of items is ['1', '2', '3', '4', '5']
1

# **7. Given a CSV file or excel file to read it into a dataframe and display it**

In [58]:
f = open("myfile3.txt","r")
for line in f.readlines():
  print(line)
f.close()

1

2

3

4

5

# **8. Given a dataframe, select rows based on a condition.**

# **9. Given is a dataframe showing the name, occupation, salary of people. Find the average salary per occupation**

# **10. To convert Python objects into JSON strings. Print all the values.**

In [64]:
import pandas as pd
d = {"Names":["sudarshan","kerenalli","shekhar"],
     "address":["sandur","bellary","karnataka"]}
df = pd.DataFrame(d)
print(df)
df.to_json("myfile.json")

       Names    address
0  sudarshan     sandur
1  kerenalli    bellary
2    shekhar  karnataka

# **11. Write a Pandas program to read specific columns from a given excel file**

In [74]:
import pandas as pd
d = {"Names":["sudarshan","kerenalli","shekhar"],
     "address":["sandur","bellary","karnataka"]}
df = pd.DataFrame(d)
print(df)
df.to_excel("myfile.xlsx")

       Names    address
0  sudarshan     sandur
1  kerenalli    bellary
2    shekhar  karnataka

In [79]:
df = pd.read_excel("/content/myfile.xlsx")
print(df.columns)
print(df["address"])

Index(['Unnamed: 0', 'Names', 'address'], dtype='object')
0       sandur
1      bellary
2    karnataka
Name: address, dtype: object