<a href="https://colab.research.google.com/github/kerenalli/Python/blob/main/Module_2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a function which accepts two inputs from the user and compute nCr

In [ ]:
def fact(num):
  return 1 if num == 0 else num * fact(num-1)

def ncr():
  n = int(input("Enter the n value "))
  r = int(input("Enter the r value "))
  res = (fact(n)/(fact(n-r)*fact(r)))
  print("The number of ways in which {} items can be selected from{} is{}".format(r,n,res))

if __name__ == "__main__":
  ncr()

Enter the n value 5
Enter the r value 2
The number of ways in which 2 items can be selected from5 is10.0

2. Recursive function to compute GCD of 2 numbers

In [ ]:
from re import M
def gcd(m,n):
  if m == 0:
    return n
  else:
    return gcd(n%m, m)

if __name__ == "__main__":
  m = int(input("Enter the first value "))
  n = int(input("Enter the second value "))
  print("The greatest common divisor of {} and {} is {}".format(m,n,gcd(45,15)))

Enter the first value 625
Enter the second value 125
The greatest common divisor of 625 and 125 is 15

3. Recursive function to find product of two numbers

In [ ]:
def product(multipler, multiplicand):
  if multiplicand == 0:
    return 0
  else:
    return multiplicand + product(multiplicand, multipler-1)

if __name__ == "__main__":
  multiplicand= int(input("Enter the multiplicand: "))
  multipler = int(input("Enter the multiplier: "))
  print("The product of {} and {} is {}.".format(multiplicand, multipler,product(multipler, multiplicand)))

Enter the multiplicand: 12
Enter the multiplier: 10
The product of 12 and 10 is 120.

4. Recursive function to generate Fibonacci series

In [ ]:
def fib(num):
  return num if num == 0 or num == 1 else fib(num-1) + fib(num-2)

if __name__ == "__main__":
  m = int(input("Enter the number: "))
  print("The first {} fibonacci numbers are: ".format(m))
  for i in range(m+1):
    print(fib(i))

Enter the number: 9
The first 9 fibonacci numbers are:
0
1
1
2
3
5
8
13
21
34

5. Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [ ]:
if __name__ == "__main__":
  l1 = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
  item5 = l1.pop(5)
  item4 = l1.pop(4)
  item0 = l1.pop(0)
  print("The list after deleting {}, {}, {} is: {}".format(item5, item4, item0, l1))

The list after deleting Yellow, Pink, Red is: ['Green', 'White', 'Black']

6. Program to get the difference between the two lists.

In [ ]:
if __name__ == "__main__":
  l1 = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
  l2 = ['Green', 'White', 'Black']
  l3 = []
  for item in l1:
    if item not in l2:
      l3.append(item)
  print("list1 is: ",l1)
  print("list2 is: ",l2)
  print("The difference between the two lists is: ",l3)

The difference between the two lists is:  ['Red', 'Pink', 'Yellow']

7.  Program to find the second smallest number and second largest number in a list.

In [ ]:
if __name__ == "__main__":
  l1 = [10,20,50,30,5,60,87,90,12,8]
  l1.sort()
  print(l1)
  print("The second smallest number is {}.\nThe second largest number is: {}.".format(l1[1], l1[-2]))

[5, 8, 10, 12, 20, 30, 50, 60, 87, 90]
The second smallest number is 8.
The second largest number is: 87.

8. Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number.

In [ ]:
if __name__ == "__main__":
  l1 = [10,20,50,30,5,60,87,90,12,8]
  l2 = [(x,x*x) for x in l1]
  print("The original list is: ",l1)
  print("The new list is: ",l2)

The original list is:  [10, 20, 50, 30, 5, 60, 87, 90, 12, 8]
The new list is:  [(10, 100), (20, 400), (50, 2500), (30, 900), (5, 25), (60, 3600), (87, 7569), (90, 8100), (12, 144), (8, 64)]

9. Given list of tuples, remove all the tuples with length K.
* Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
* Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
* Explanation : (4, 5) of len = 2 is removed.

In [ ]:
if __name__ == "__main__":
  test_list = [(4, 5), (4, ), (8, 6, 7), (1, 2), (3, 4, 6, 7)]
  k = int(input("Enter the length of the tuple to be removed: "))
  output_list = [x for x in test_list if len(x)==2]
  print(output_list)

Enter the length of the tuple to be removed: 2
[(4, 5), (1, 2)]

10. Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
Sample Input: (n=5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
if __name__ == "__main__":
  d1 =dict()
  n = int(input("Enter the  number: "))
  for x in range(n+1):
    d1[x] = x*x
  print("The result is: ",d1)

Enter the  number: 6
The result is:  {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

11. Program to remove a key from a dictionary

In [ ]:
if __name__ == "__main__":
  d1 = {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
  print("The dictionary items are: \n", d1)
  k = int(input("Enter the key to be deleted: "))
  d1.pop(k)
  print("The dictionary items after the delete are: \n",d1)

The dictionary items are:
 {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
Enter the key to be deleted: 4
The dictionary items after the delete are:
 {0: 0, 1: 1, 2: 4, 3: 9, 5: 25, 6: 36}

12. Program to get the maximum and minimum value in a dictionary.

In [ ]:
if __name__ == "__main__":
  d1 = {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
  min = max = d1[0]

  print("The dictionary values are: ")
  for val in d1.values():
    print(val)
  for val in d1.values():
    if min > val:
      min = val
  for val in d1.values():
    if max< val:
      max = val
  print("The minimum value is: ",min)
  print("The maximum value is: ",max)

The dictionary values are:
0
1
4
9
16
25
36
The minimum value is:  0
The maximum value is:  36

13. Program to perform operations on string using unicodes,splitting of string,accessing elements of string using locations

14. Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements.For ex -.In Rabbit count how many times b has occurred .

In [3]:
def count_occurrences_and_indexes(string, char):
    count = string.count(char)
    indexes = [i for i, c in enumerate(string) if c == char]
    return count, indexes

if __name__ == "__main__":
  string = input("Enter the main string")
  char = input("Enter the character")
  count, indexes = count_occurrences_and_indexes(string, char)

  print(f"Count of '{char}' in '{string}':", count)
  print(f"Indexes of '{char}' in '{string}':", indexes)

Enter the main stringkerenalli
Enter the characteri
Count of 'i' in 'kerenalli': 1
Indexes of 'i' in 'kerenalli': [8]

 15. Program for replacing one substring by another For example - Rabbit - Replace ‘bb’ by
‘cc’

In [ ]:
string = input("Enter the string: ")
sub = input("Enter the substring to replacement: ")
resub = input("Enter the substring for replacement: ")
print("The resultant string after replacement",string.replace(sub, resub))

Enter the string: Counting occurrence of a certain element in a string
Enter the substring to replacement: cc
Enter the substring for replacement: ss
The resultant string after replacement Counting ossurrence of a certain element in a string

16. Program to Acronym generator for any user input (ex-input is Random memory access then output should be RMA).Example - Random number (RN)

In [ ]:
s = input("Enter the string: ")
l = s.split(" ")
ac = ""
for st in l:
  ac= ac + st[0]
print("The acronym of {} is {}.".format(s, ac.upper()))
#print(ac.upper())

Enter the string: sudarshana kerenalli shekhar
The acronym of sudarshana kerenalli shekhar is SKS.

17. Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.

In [ ]:

def calculate(s):
  lcount = ucount = 0
  for i in s:
    if i.isupper():
      ucount = ucount + 1
    elif i.lower():
      lcount = lcount + 1

  print("The number of capital letters: ", ucount)
  print("The number of lower cap letters: ", lcount)

if __name__ == "__main__":
  s = input("Enter the string: ")
  calculate(s)

Enter the string: Python String Format() Method
The number of capital letters:  4
The number of lower cap letters:  25

18. Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings

In [ ]:
if __name__ == "__main__":
  Sample_List = ['abca', 'xyz', 'aba', '1221']
  count = 0
  print("The string length of 2 or more with same first and last character are: ")
  for sub in Sample_List:
    if len(sub)>=2 and (sub[0]==sub[-1]):
      print(sub)
      count = count + 1
  print("The number of strings are  ",count)

The string length of 2 or more with same first and last character are:
abca
aba
1221
The number of strings are   3