<a href="https://colab.research.google.com/github/kerenalli/Python/blob/main/Module_3_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Read an entire text file**

In [ ]:
if __name__ == "__main__":
  url = input("Enter the file path: ")
  f = open(url,"r")
  print(f"The file \"{url}\" contains: ")
  print(f.read())

Enter the file path: /content/sample_data/README.md
The file "/content/sample_data/README.md" contains:
This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

# **2. Read the first n lines of a file.**

In [ ]:
if __name__ == "__main__":
  n = int(input("Enter the number of lines you want to print: "))
  f = open("/content/drive/MyDrive/Colab Notebooks/Dataset/myfile.txt","r")
  print(f"The first {n} lines of the file are: ")
  for x in range(n):
    print(f.readline())

Enter the number of lines you want to print: 6
The first6 lines of the file are:
read an entire text file.

read the first n lines of a file.

append text to a file and display the text.

Read numbers from a file and write even and odd numbers to separate files.

Count characters, words and lines in a text file.

To write a list to a file.

# **3. Append text to a file and display the text.**

In [ ]:
if __name__ == "__main__":
  #Open the file to write the new content
  f = open("myfile1.txt","w")
  f.write("Hello world!!")
  f.write("\n")
  f.write("You are welcome to this platform.")
  f.close()

  #Open the file for reading
  f = open("myfile1.txt","r")
  print("\nThe file content is: \n")
  print(f.read())
  f.close()

  #open the file to append the new content
  f = open("myfile1.txt","a")
  txt = input("\nEnter the new content: ")
  f.write(txt)
  f.close()

  #Open the file for reading
  f = open("myfile1.txt","r")
  print("The file content after addition is: \n")
  print(f.read())
  f.close()

The file content is:

Hello world!!
You are welcome to this platform.

Enter the new content: Good morning\nWelcome again
The file content after addition is:

Hello world!!
You are welcome to this platform.Good morning\nWelcome again

# **4. Read numbers from a file and write even and odd numbers to separate files.**

In [12]:
def EvenOdd(infile, evenfile, oddfile):
  f = open(infile, "r")
  numbers = f.readlines()
  even = []
  odd = []
  for num in numbers:
    num = int(num.strip())
    if num % 2 == 0:
      even.append(str(num))
    else:
      odd.append(str(num))

  f1 = open(evenfile,"w")
  f1.write("\n".join(even))


  f2 = open(oddfile,"w")
  f2.write("\n".join(odd))

  print("Even file contents:\n")
  f1 = open(evenfile, "r")
  print(f1.read())
  f1.close()

  print("odd file contents:\n")
  f2 = open(oddfile, "r")
  print(f2.read())
  f2.close()
  print("The numbers are written perfectly!!")

if __name__ == "__main__":
  infile = "/content/sample_data/input.txt"
  evenfile = '/content/even.txt'
  oddfile = "/content/odd.txt"
  EvenOdd(infile, evenfile, oddfile)

Even file contents:

12
14
20
32
odd file contents:

33
13
25
11
15
53
The numbers are written perfectly!!

# **5. Count characters, words and lines in a text file**

In [14]:
def count_cwl(infile):
  f = open(infile,"r")
  data = f.read()
  ch = len(data)
  words = len(data.split(" "))
  lines = data.count("\n")+1
  f.close()
  return ch,words,lines

if __name__ == "__main__":
  infile = "/content/sample_data/README.md"
  c,w,l = count_cwl(infile)
  print(f"The file contains {c} characters, {w} words and {l} lines")

The file contains 930 characters, 113 words and 20 lines

# **6. To write a list to a file**

In [ ]:
l = []
n = int(input("Enter the number of elemnets in the list: "))
for i in range(n):
  ele = input("Enter the item: ")
  l.append(ele)
print(f"The enterd list of items is {l}")
f = open("myfile3.txt","w")
for item in l:
  f.writelines(item)
  f.write("\n")
f.close()

f = open("myfile3.txt","r")
for line in f.readlines():
  print(line)
f.close()

Enter the number of elemnets in the list: 5
Enter the item: 1
Enter the item: 2
Enter the item: 3
Enter the item: 4
Enter the item: 5
The enterd list of items is ['1', '2', '3', '4', '5']
1

# **7. Given a CSV file or excel file to read it into a dataframe and display it**

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Dataset/titanic.csv")
print("The number of records are: ", df.shape[0])
print("The number of attribute per records are: ", df.shape[1])
print("The first five records are: ")
df.head()

The number of records are:  891
The number of attribute per records are:  12
The first five records are:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# **8. Given a dataframe, select rows based on a condition.**

In [ ]:
df2 = df.loc[1:10]
rows = df2[(df2['Age']>=25) & (df2["Sex"]=='Female')]
rows

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

# **9. Given is a dataframe showing the name, occupation, salary of people. Find the average salary per occupation**

In [ ]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Occupation': ['Engineer', 'Doctor', 'Engineer', 'Artist', 'Doctor'],
    'Salary': [70000, 120000, 75000, 60000, 130000]
}

df = pd.DataFrame(data)

# Group by 'Occupation' and calculate the mean salary
average_salary = df.groupby('Occupation')['Salary'].mean()
print(average_salary)

Occupation
Artist       60000.0
Doctor      125000.0
Engineer     72500.0
Name: Salary, dtype: float64

# **10. To convert Python objects into JSON strings. Print all the values.**

In [ ]:
import pandas as pd
d = {"Names":["sudarshan","kerenalli","shekhar"],
     "address":["sandur","bellary","karnataka"]}
df = pd.DataFrame(d)
print(df)
df.to_json("myfile.json")

       Names    address
0  sudarshan     sandur
1  kerenalli    bellary
2    shekhar  karnataka

# **11. Write a Pandas program to read specific columns from a given excel file**

In [ ]:
import pandas as pd
d = {"Names":["sudarshan","kerenalli","shekhar"],
     "address":["sandur","bellary","karnataka"]}
df = pd.DataFrame(d)
print(df)
df.to_excel("myfile.xlsx")

       Names    address
0  sudarshan     sandur
1  kerenalli    bellary
2    shekhar  karnataka

In [ ]:
df = pd.read_excel("/content/myfile.xlsx")
print(df.columns)
print(df["address"])

Index(['Unnamed: 0', 'Names', 'address'], dtype='object')
0       sandur
1      bellary
2    karnataka
Name: address, dtype: object

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Dataset/titanic.csv")
df.to_excel("titanic.xlsx")

In [ ]:
df = pd.read_excel("/content/titanic.xlsx",usecols = ['Age','Sex'])
df.head()

      Sex   Age
0    male  22.0
1  female  38.0
2  female  26.0
3  female  35.0
4    male  35.0